/* CSS RESET */
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
a {text-decoration: none;
    color:#000;}
li {list-style: none;}

.header .yellow_bar {
    width:17%;
    height:20px;
    background-color:#FEDD4C;
    float:left;
}
.header .gray_bar {
    width:100%;
    height:20px;
    background-color:#EFEFEF;
}
.header .nav {
    margin:20px;
}
.header .nav ul{
    max-width:1280px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-family:"montserrat", san-serif, "돋움";
    font-weight:bold;
    font-size:24px;
    text-align:center;
}

.contents {
    max-width:1280px;
    margin:0 auto;
}
.contents .title {
    font-family:"montserrat", san-serif, "돋움";
    font-weight:bold;
    font-size:140px;
    margin-top:209px;
}
.contents .box-group {
    display:flex;
    margin-top:96px;
    margin-bottom:78px;
}
.contents .box-group .box {
    width:50%;
    height:137px;
}
.contents .box1 {
    background-color:#FEDD4C;
}
.contents .box1:hover {
    background-color:#000;
    color:#fff;
    transition:all 1s;
}
.contents p {
    font-family:"montserrat", san-serif, "돋움";
    font-weight:bold;
    font-size:44px;
    line-height:137px;
    text-align:center;
}
.contents .box2 {
    background-color:#EFEFEF;
}
.contents .box2:hover {
    background-color:#000;
    color:#fff;
    transition:all 1s;
}
.footer{
    font-family:"montserrat", san-serif, "돋움";
    font-weight:500;
    font-size:24px;
    margin:80px 0 0;
    
}
.footer ul {
    max-width:1280px;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
}
.footer .gray_bar2 {
    width:100%;
    height:20px;
    background-color:#EFEFEF;
    margin-top:20px;
}

.portfolio_contents .portfolio{
    height:380px;
    background-color:#000;
}

.portfolio_contents::after {
    content:"";
    display:block;
    clear:both;
}



.portfolio_contents {
    max-width:1280px;
    margin:0 auto;
    margin-top:71px;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}


.portfolio_contents .portfolio_box {
    width:100%;
    height:100%;
    position:relative;
    background-repeat:no-repeat;
    background-size:cover;
}
.portfolio_contents .portfolio_hover {
    width: 100%;
    height:100%;
    background-color:#000;
    opacity:0;
    transition:all 1s;
    display:flex;
    align-items:center;
    justify-content:center;
}
.portfolio_contents .portfolio_box:hover .portfolio_hover{
    opacity:0.85;
}
.portfolio_contents .portfolio_hover .portfolio_inner {width: 100%;margin: 0 70px;position: relative;}
.portfolio_contents .portfolio_hover .portfolio_text {
    color:#fff;
    font-family:"montserrat", san-serif, "돋움";
    font-size:19px;
    margin-bottom:10px;
}
.portfolio_contents .portfolio_hover .portfolio_title {
    color:#fff;
    font-family:"montserrat", san-serif, "돋움";
    font-weight:bold;
    font-size:35px;
    margin-bottom:50px;
}
.portfolio_contents .portfolio_hover .portfolio_adobe {
    color:#fff;
    opacity:0.5;
    line-height:1.75;
    font-family:"montserrat", san-serif, "돋움";
    font-size:14px;
    position:absolute;
    top:0;
    right:0;
    text-align:end;
    
}
.portfolio_contents .portfolio_hover .bottom_text {
    color:#fff;
    font-family:"montserrat", san-serif, "돋움";
    font-size:16px;
    height:40px;
}
.portfolio_contents .portfolio_hover .bottom_text .portfolio_contribution {
    float:left;
    line-height:40px;
}
.portfolio_contents .portfolio_hover .bottom_text .go_group {
    float:right;
    width:205px;

}
.portfolio_contents .portfolio_hover .bottom_text .go_pdf {
    color:#fff;
    font-family:"montserrat", san-serif, "돋움";
    font-size:16px;
    font-weight:bold;
    border:1px solid #fff;
    width:89px;
    height:40px;
    text-align:center;
    line-height:40px;
    float:right;
}

.portfolio_contents .portfolio_hover .bottom_text .go_url {
    color:#fff;
    font-family:"SpoqaHanSans","montserrat",san-serif, "돋움";
    font-size:16px;
    font-weight:bold;
    border:1px solid #fff;
    width:89px;
    height:40px;
    text-align:center;
    line-height:40px;
    float:right;
    margin-left:20px;
}
.portfolio_contents .portfolio_hover .bottom_text  img{
    vertical-align:middle;
}



/*contact me.*/


.contact_me {
    display:flex;
    align-items:center;
    justify-content:center;    
    flex-wrap:wrap;
    margin-top:153px;
    margin-bottom:129px;
    column-gap:70px;
}
.contact::after {
    content:"";
    display:block;
    clear:both;
}
.call {
    font-family:"montserrat",san-serif, "돋움";
    font-size:24px;
    font-weight:500;
    border:1px solid #fff;
    
}
.contact_me > * {
    display:flex;
    column-gap:20px;
}
.call .call_title {
    border-bottom:0px solid #fff;
    box-shadow:inset 0 -10px 0 #FEDD4C;
    font-weight:bold;
}

.email {
    font-family:"montserrat",san-serif, "돋움";
    font-size:24px;
    font-weight:500;
    border:1px solid #fff;
}
.email .email_title {
    border-bottom:0px solid #fff;
    box-shadow:inset 0 -10px 0 #FEDD4C;
    font-weight:bold;
}

@media (max-width:767px) {

    .contents .title {font-size:60px;margin-top:70px;}
    .contents p {font-size:25px;}
    .contact_me {justify-content:flex-start;gap:70px;}
    .contact_me > * {flex-direction:column;}
    .footer ul {flex-direction: column;gap:20px;margin:20px;}
    .portfolio_contents {grid-template-columns:repeat(1, 1fr);}
    .portfolio_contents .portfolio_hover .portfolio_inner {margin:10px;}
}